*{
margin:0px;
padding: 0px;
}

.ir-arriba{
    display: none;
    padding: 0 10px 30px 10px;
    
    background-color: transparent;/*#6E6E6E;//#024959;*/
    /*background: red;*/
    filter: alpha(opacity=60);/*IE*/
    -moz-opacity: .6;/*Mozilla*/
    opacity: .6;/*CSS3*/
    
    font-size: 20px;
    color: black;/*#fff;*/
    cursor: pointer;
    position: fixed;
    bottom: 10px !important;
    right: 10px;
    height: 10px;
    top: auto !important;
    border-radius: 10px;
    border: #DDD solid;
    
}

